.info-container {
    background: rgba(255, 255, 255, 0.04);
    background-blend-mode: lighten;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.info-container:focus-within{
    background-color: beige;
}

.info-container h5 {
    margin-bottom: 1px;
    color: rgba(131, 131, 131, 0.49);
    font-weight: 400;
    font-size: 12px;
}

.info-container .info-content{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}


