.input-field {
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border: 1px solid #000000;
    display: flex;
    width: 60%;
    margin: auto;
    position: relative;

    /* background: rgba(255, 255, 255, 0.4); */
}


.input-field span {
    border-style: none;
    display: flex;
}

.input-field span  {
    border-radius: 5px 0px 0px 5px;
    padding: 4px 7px;
    /* margin-right: auto; */
    color: rgba(160, 160, 160, 0.65);
    background: rgb(206, 248, 235);
}  

.inputBox{
    width: 100%;
}

.autocomplete-block{
    width: 100%;
}

.input-field .location-search-input{
    /* border-style: none; */
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    padding: 8px 0px 8px 0px;
    background: rgb(206, 248, 235);
    }

/* .input-field input::placeholder{
    color: rgba(159, 159, 159, 0.65);
} */

.input-field input:focus {}


.input-field div {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.input-field div * {
    border-style: none;
    max-width: 100%;
}

.input-field div h4 {
    color: rgba(159, 159, 159, 0.65);
    font-size: 8px;
    letter-spacing: .05rem;
    margin: 0;
    padding: 2px 0 0 5px;
    font-weight: 550;
    background: rgba(255, 255, 255, 0.4);
}

.input-field div input {
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
}

.input-field div input::placeholder{
    color: rgba(159, 159, 159, 0.65);
}

.input-field div input:focus {
    outline: none;
}



  
.autocomplete-dropdown-container {
    top:28px;
    left:0px;
    display: block;
    margin-top: 100px;
    width: 100px;
    text-align: left;
    position:absolute;
    z-index: 1000;
  }
