.input {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: fit-content;
    /* background-blend-mode: lighten;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px; */
}

.input .container {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.input .container h5 {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 5px;

    color: rgba(131, 131, 131, 0.49);
    font-weight: 400;
    font-size: 12px;

    transition: all .2s ease;
}

.input .container input {
    margin: 0;
    margin-left: 3px;

    border-style: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(131, 131, 131, 0.49);


    transition: all .2s ease;
}

.input .container:focus-within h5 {
    color: rgba(0, 191, 255, 0.666);
}

.input .container input:focus {
    border-color: rgba(0, 191, 255, 0.666);
}

.input input * {
    margin: 0;
    padding: 0;
}

.input .err-msg {
    margin: 0;
    margin-top: 2px;
    margin-left: 3px;
}