.login {
    display: flex;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    
}

.login form {
    display: flex;
    box-shadow: 0 5px 5px 3px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

    flex-direction: column;
    background: white;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-top: 150px;
}

.login form h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.login form > * {
    margin: 5px auto;
}

.login form .input-container {
    width: 75%;
    background: rgba(174, 243, 222, 0.223);
}

form .signup-link {
    display: flex;
    border-top-style: solid;
    border-color: rgba(112, 112, 112, 0.516);
    border-width: 1px;
    width: 70%;
    text-align: center;
    
}
form .signup-link h5{
    margin: auto;
    margin-top: 10px;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}

.login form button:hover {
    background: rgb(174, 243, 222);
    color: white

}

.login form .buttons {
    width: fit-content;
    margin: 5px auto;
}

.login form .buttons button {
    margin: 0 10px;
}

.google {
    padding-left: 5px;
    background: rgb(255, 123, 0);
    color: white;
}

.google * {
    margin: 0 0 0 5px;
    color: white;
}
