.navbar {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    left: 0;
    padding: 5px 20px 5px 20px; /* top right bottom left */
    display: flex;
    align-items: center;
    margin: 0 0; 
    /* background: linear-gradient(white 50%, white 10%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%); */
    background: white;
    box-shadow: 0 1px 8px 1px gray;
}

.navbar * {
    /* border-style: solid; */
    color: black
}


.navbar .actions {
    margin: 20px;
}

.navbar .links {
    /* margin: 20px; */
    /* margin: auto 10px; */
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    
    /* margin-top: 20px;
    margin-bottom: 20px; */
}


.navbar a{
    text-decoration: none;
    /* margin: auto; */
    margin: auto 10px;
    padding: 0px 15px;
    height: fit-content;
}

.navbar .links .signup-button {
    margin: 5px 15px;
    padding: 12px 10px;
    background: rgba(217, 217, 217, 0.04);
    background-blend-mode: lighten;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.navbar .links .dropdown {
    margin: auto 10px;
}

.navbar h1:hover {
    cursor: pointer;
}