.ok-button,
.cancel-button{
    height: 30px;
    border-radius: 10px;
    border: none;
}

.ok-button h6,
.cancel-button h6{
    margin: auto;
}

.cancel-button{
    background-color: rgba(167, 13, 13, 0.629);
}

.ok-button:hover,
.cancel-button:hover{
    border-width: 1px;
    border-style: solid;
}

h3 {
    color: rgba(73, 73, 73, 0.839);
}