.signup {
    display: flex;
    background: white;
    border-radius: 10px;
    height: fit-content;
    max-width: 50%;
    margin: 0 auto;
    flex-direction: column;
    max-height: fit-content;
}


.signup h1 {
    margin: 20px auto;
    width: fit-content;
    font-size: 24px;
}

form {
    position: relative;
}

form > *{
    margin: 20px 35px;
    width: fit-content;
}

.email{
    width: 30%;
}

.password-container {
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    width: 95%;
}

.password-container > * {
    margin-right: 30px;
    width: 100%;
}

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
}

button {
    display: flex;
    flex-direction: row;
    background: transparent;
    border-style: none;
    border-radius: 5px;
    padding: 3px 3px;
    transition: all .5s;
    transition-property: background, box-shadow;
}

.buttons .next {
    margin-left: auto;
}

.back {
    margin-right: auto;
}

button * {
    margin: auto auto;
    padding: 0;
    color: #DF7FE1;
    transition: color .2s;
}

button h6 {
    margin-right:  5px;
    margin-left: 3px;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    background: #DF7FE1;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

button:hover * {
    color: white;
}

label {
    color: rgba(131, 131, 131, 0.49);
    margin-right: 5px;
    margin-left: 38px;
    font-size: 12px;
}

select {
    margin: 0;
    border-style: none;
    outline: none;
}

form .container {
    margin: 25px 35px;
    display: flex;
    flex-direction: row;
    width: 82.5%;
}

form .container > *{
    margin-right: 30px;
    width: 100%;
}

form .container .number {
    max-width: fit-content;
}

form .additional-info {
    width: 82.5%;
}

form .upload-display-image {
    position: absolute;
    margin-top: 10%;
    top: 0;
    right: 10%;
}