@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background: rgb(174,243,222);
}

.content {
  /* margin-top: 79px;
  overflow-y: auto; */
  /* position: relative; */
  flex: 1;
}


.app {
  position: relative;
  min-height: 100vh;
}

.app > * {
  position: absolute;
  width: 100%;
}

.login {
  z-index: 1;
}

.page {
  z-index: 2;
  height: 100%;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.fit-width {
  width: fit-content;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.fill-height {
  min-height: 100%
}

.space-right {
  margin-right: 10px;
}

.space-bottom {
  margin-bottom: 10px;
}

.space-top {
  margin-top: 10px;
}



/* Removes arrows in number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus {
  outline: none;
}


/* BASIC BUTTON STYLES */

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    flex-direction: row;
    background: #DF7FE1;
    border-style: none;
    border-radius: 5px;
    padding: 3px 3px;
    transition: all .5s;
    transition-property: background, box-shadow;
}

.buttons .next {
    margin-left: auto;
}

.back {
    margin-right: auto;
}

.btn * { 
    margin: auto auto;
    padding: 0;
    color: white;
    transition: color .2s;
}

.btn h6 {
    margin-right:  5px;
    margin-left: 3px;
    font-size: 16px;
    font-weight: 400;
}

.btn:hover {
    background: white;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

.btn:hover * {
    color: #DF7FE1;
}

/* END BASIC BUTTON STYLES */


.styled-textarea textarea {
  /* margin-right: 10px; */
  white-space: pre-wrap;
  overflow-wrap: break-word; 
  border-width: 1px;
  border-color: rgba(131, 131, 131, 0.49);
  /* margin-left: 4px; */
  margin: 2px 0;
  font-family: 'Inter', sans-serif;
  resize: none;
}

.styled-textarea textarea::placeholder {
  color: rgba(131, 131, 131, 0.35);
}

.space-top {
  margin-top: 15px;
}