@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background: rgb(174,243,222);
}

.app {
  position: relative;
}

.app > * {
  position: absolute;
  width: 100%;
}

.login {
  z-index: 1;
}

.page {
  z-index: 2;
}


/* Removes arrows in number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

