@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-size: 12px
}

/* ################################ */
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


/* ################################ */
/* Navbar styles */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* background-color: aqua; */
}

.navbar .links {
  margin-left: auto;
}

.links a {
  padding: 8px;
  margin-left: 16px;
  text-decoration: none;
  border-style: solid;
  border-radius: 12px;
}

.links a:hover {
  color: #f1356d;
}

.navbar a{
  text-decoration: none;
}

/* ################################ */
/* Home Style */

.home-preview{
  
  /* border: #333 solid; */
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 100vh;
}

.home-preview a {
  text-decoration: none;
  display: block;
  width: auto;
  border: #333 solid;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
}

.findVisit-home,
.newPost-home,
.myPosts-home {
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
  /* padding: 10px 100px 100px 30px; */
  border: #333 solid;
  border-radius: 30px;
}

/* ################################ */
/* Form styles */

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

form label {
  text-align: left;
  display: block;
}

form input, select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}


/* ################################ */
/* Sign up styles */

.signup {
  align-items: center;
}

.signup h2 {
  margin: auto;
  text-align: center;
  padding: 16px;
}


/* ################################ */
/* Log in styles */
.login {
  align-items: center;
  text-align: center;
}


/* ################################ */
/* Add new post styles */
.new-post-preview h2 {
  margin: auto;
  text-align: center;
  padding: 16px;
}

.inputForm{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.labelForm{
  font-size: 1.3em;
}

.street-name-number {
  display: flex;
  flex-direction: row;
}

.street-name-number #one{
  flex: 5;
  margin-right: 5px;
}

.street-name-number #two{
  flex : 1;
}

/* ################################ */
/* MyPosts styles */

.post-list {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}

.post-preview {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 12px auto;
  padding: 10px 20px;
  align-items: center;
}

.post-preview .header {
  display: flex;
}

.post-preview.lastItem {
  opacity: 0.5;
}

.post-preview.lastItem:hover {
  color: gray;
}

.isLast{
  opacity: 0.5;
}

.post-preview:hover{
  color: #f1356d;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.post-preview .left-post-preview {
  text-align: left;
  display: block;
}

.post-preview h3 {
  font-size: var((--font-size) * 1,5);
}

.post-preview h4 {
  font-size: var(--font-size);
  color: grey;
}

.post-preview .right-post-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: right;
  margin-left: auto;
}

.post-preview .right-post-preview .icon-show {
  padding: 8px;
  margin: 12px;
  transition: transform .2s;
  transform: rotate(-180deg);
}

.post-preview .right-post-preview span {
  transition: transform .2s;
}

.post-preview .right-post-preview span:hover {
  transform: scale(1.5);
  cursor: pointer;
}


.post-preview .right-post-preview .icon {
  padding: 8px;
  margin: 12px;
  transition: transform .2s;
}


.post-preview .right-post-preview .icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}




/* ################################ */
/* Post Page styles */
.post-details #information{
  display: block;
  margin: 50px 100px 100px 100px;
}

.post-details h2{
  margin: auto;
  text-align: center;
  padding: 16px;
}

.post-details #date{
  color : red;
  font-size: 1em;
}

.post-details #street{
  font-size: 2em;
  font-weight: bold;
}

.post-details #country{
  font-size: 1.5em;
  color: gray;
}

.post-details a {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #f1356d;
  border-radius: 16px;
  padding: 5px 10px;
  transition: background-color, color .2s;
}

.post-details a:hover {
  color: white;
  background-color: rgb(231, 78, 124);
}



/* ################################ */
/* Autocomplete */
.autocomplete-preview{
  text-align: left;
  /* border: #333;
  border-style: solid; */
  padding-left: 20px;
}

.autocomplete-block{
  
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}

.autocomplete-dropdown-container {
  display: block;
  margin: auto;
  text-align: left;
  /*Si on veut que ça passe par dessus des inputs en dessous*/
  /* border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1000;
  border-radius: 0 0 2px 2px; */
}

/* ################################ */
/* Map */

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  margin: auto;
  width: 90%;
  border-radius: 100px;
  margin-bottom: 30px;
}

.pin {
  display: flex;
  align-items: center;
  width: 200px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1em;
  color: black;
  font-weight: bold;
  background-color: rgba(118, 117, 117, 0.5);
  border-radius: 30px;
  padding: 8px;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

/* ################################ */
/* Rolldown list and Rolldown item */
.rolldown-list {
  /* max-width: 75%; */
  margin: 0 auto;
  text-align: center;
}

.rolldown-list .rolldown-item {
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(207, 193, 193);
}


.rolldown-item .preview div {
  display: flex;
  margin: 0 auto;
}

.rolldown-item .preview h2 {
  font-size: 20px;
  margin: 5px 0;
  padding: auto 10px;
  font-weight: 500;
  transition: font-weight 0.1s;
  margin-right: auto;
}

.rolldown-item .body div {
  display: flex;
  align-items: center;
  margin: 0 auto;

}

.rolldown-item .body h4 {
  font-size: 16px;
  font-weight: normal;
}

.rolldown-item .preview button {
  margin-left: auto;
}

.rolldown-item .preview span {
  margin-left: auto;
}

.rolldown-item .preview span *{
  /* border-style: solid; */
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  transition: background-color, color .2s;
}

.rolldown-item .preview span *:hover{
  cursor: pointer;
}

.rolldown-item .preview span .check *{
  color: rgb(130, 204, 130);
}

.rolldown-item .preview span .check:hover{
  background-color: rgb(130, 204, 130);
}

.rolldown-item .preview span .check:hover *{
  color: white;
}

.rolldown-item .preview span .cross *{
  color: rgb(222, 128, 117);
}

.rolldown-item .preview span .cross:hover{
  background-color: rgb(222, 128, 117);
}

.rolldown-item .preview span .cross:hover *{
  color: white;
}

.rolldown-item .preview button {
  background: none;
  border-radius: 6px;
  border-style: none;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(222, 128, 117);
  color: white;
  transition: background-color, box-shadow .2s;
}

.rolldown-item .preview button:hover {
  cursor: pointer;
  background-color: rgb(212, 77, 62);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.rolldown-item .preview h2:hover{
  cursor: pointer;
  font-weight: 1000;
}


/* ################################ */
/* Profile */

.profile {
  margin: 0 auto;
  max-width: 50%;
  display: block;
}

.profile h2 {
  font-size: 28px;
  text-align: center;
}

.profile .profile-list .list-item {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(128, 128, 128, 0.582);
  border-radius: 45px;
  display: flex;
  margin: 10px 0;
  padding: 10px 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.profile .profile-list .list-item .left-child {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-right: auto;
}

.profile .profile-list .list-item .right-child {
  text-align: left;
  margin-left: 100px;
}